@model Client.ViewModels.LocationViewModel

@{
    ViewBag.Title = "Index";
    var x = 1;
}

<h2>Index</h2>

<a href="@Url.Action("Create", "Location")">Add</a>
<br /><br />
<table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayFor(model => model.location.LocationName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var location in ViewBag.LocationList)
        {
            <tr>
                <td>
                    @(x++)
                </td>
                <td>
                    @location.LocationName
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Location", new { id = location.LocationId })">Delete</a>
                    |
                    <a href="@Url.Action("Edit", "Location", new { id = location.LocationId })">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>