@model Client.ViewModels.CustomerViewModel


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<a href="@Url.Action("Create", "Customer")">Add</a>
<br /><br />

<table cellpadding="2" cellspacing="2">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Contact
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in ViewBag.CustomerList)
        {
            <tr>
                <td>
                    @customer.CustomerId
                </td>
                <td>
                    @customer.CustomerName
                </td>
                <td>
                    @customer.CustomerContact
                </td>
                <td>
                    @customer.CustomerAddress
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Customer", new { Id = customer.CustomerId })">Delete</a>
                    |
                    <a href="@Url.Action("Edit", "Customer", new { Id = customer.CustomerId })">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>