@model Client.ViewModels.SupplierViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Suppliers", FormMethod.Post))
{
    <table cellpadding="2" cellspacing="2">
    <thead>
        <tr>
            <th>
                @Html.LabelFor(model => model.supplier.Name)
            </th>
            <td>
                @Html.TextBoxFor(model => model.supplier.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.LabelFor(model => model.supplier.Contact)
            </th>
            <td>
                @Html.TextBoxFor(model => model.supplier.Contact)
            </td>
        </tr>
        <tr>
            <th>
               @Html.LabelFor(model => model.supplier.Address)
            </th>
            <td>
                @Html.TextBoxFor(model => model.supplier.Address)
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </thead>
    </table>
}