@model Client.ViewModels.SupplierViewModel


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Suppliers", FormMethod.Post))
{
    @Html.HiddenFor(model => model.supplier.SupplierId)
    <table cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th>
                    @Html.LabelFor(model => model.supplier.SupplierName)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.supplier.SupplierName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.supplier.SupplierContact)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.supplier.SupplierContact)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.supplier.SupplierAddress)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.supplier.SupplierAddress)
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </thead>
    </table>
}
