@model Client.ViewModels.SupplierViewModel

@{
    ViewBag.Title = "Index";
    var x = 1;
}

<h2>Index</h2>

<a href="@Url.Action("Create", "Suppliers")">Add</a>
<br /><br />

<table cellpadding="2" cellspacing="2">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplier.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplier.SupplierContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplier.SupplierAddress)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var supplier in ViewBag.SupplierList)
        {
            <tr>
                <td>
                    @(x++)
                </td>
                <td>
                    @supplier.SupplierName
                </td>
                <td>
                    @supplier.SupplierContact
                </td>
                <td>
                    @supplier.SupplierAddress
                </td>
                <td>
                    <a  href="@Url.Action("Delete", "Suppliers", new { id = supplier.SupplierId })" >Delete</a> 
                    | 
                    <a href="@Url.Action("Edit", "Suppliers", new { id = supplier.SupplierId })" >Edit</a> 
                </td>
            </tr>
        }
    </tbody>
</table>