@model Client.ViewModels.StockViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Stock", FormMethod.Post))
{
    <table cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th>
                    @Html.LabelFor(model => model.stock.CategoryId)
                </th>
                <td>
                    @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.CategoryId, string.Empty, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.stock.ProductId)
                </th>
                <td>
                    @Html.DropDownList("ProductId", (IEnumerable<SelectListItem>)ViewBag.ProductId, string.Empty, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.stock.SupplierId)
                </th>
                <td>
                    @Html.DropDownList("SupplierId", (IEnumerable<SelectListItem>)ViewBag.SupplierId, string.Empty, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.stock.StockBuyingRate)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.stock.StockBuyingRate)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.stock.StockSellingRate)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.stock.StockSellingRate)
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </thead>
    </table>
}