@model Client.ViewModels.StockViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Stock", FormMethod.Post))
{
    @Html.HiddenFor(model => model.stock.StockId)
    <table cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th>
                   Category
                </th>
                <td>
                    @Html.DropDownListFor(model => model.stock.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryId, string.Empty, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th>
                    Product
                </th>
                <td>
                    @Html.DropDownListFor(model => model.stock.ProductId, (IEnumerable<SelectListItem>)ViewBag.ProductId, string.Empty, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th>
                    Supplier
                </th>
                <td>
                    @Html.DropDownListFor(model => model.stock.SupplierId, (IEnumerable<SelectListItem>)ViewBag.SupplierId, string.Empty, new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.stock.StockBuyingRate)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.stock.StockBuyingRate)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.stock.StockSellingRate)
                </th>
                <td>
                    @Html.TextBoxFor(model => model.stock.StockSellingRate)
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </thead>
    </table>
}