@model Client.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Index";
    var x = 1;
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                @Html.DisplayFor(model => model.category.CategoryName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in ViewBag.CategoryList)
        {
            <tr>
                <td>
                    @(x++)
                </td>
                <td>
                    @category.CategoryName
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Category", new { Id = category.CategoryId })">Delete</a>
                    |
                    <a href="@Url.Action("Edit", "Category", new { Id = category.CategoryId })">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>