@model Client.ViewModels.FixedAssetViewModel

@{
    ViewBag.Title = "Index";
    var x = 1;
}

<h2>Index</h2>



<a href="@Url.Action("Create", "FixedAsset")">Add</a>
<br /><br />

<table cellpadding="2" cellspacing="2">
    <thead>
        <tr>
            <th>
                S/N
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fixedAsset.FixedAssetCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fixedAsset.FixedAssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fixedAsset.FixedAssetLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fixedAsset   .FixedAssetAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fixedAsset.FixedAssetDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fixedAsset.FixedAssetDepreciation)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fixedAsset in ViewBag.FixedAssetList)
        {
            <tr>
                <td>
                    @(x++)
                </td>
                <td>
                    @fixedAsset.FixedAssetCategory
                </td>
                <td>
                    @fixedAsset.FixedAssetName
                </td>
                <td>
                    @fixedAsset.FixedAssetLocation
                </td>
                <td>
                    @fixedAsset.FixedAssetAmount
                </td>
                <td>
                    @fixedAsset.FixedAssetDate
                </td>
                <td>
                    @fixedAsset.FixedAssetDepreciation
                </td>
                <td>
                    <a href="@Url.Action("Delete", "FixedAsset", new { id = fixedAsset.StockId })">Delete</a>
                    |
                    <a href="@Url.Action("Edit", "FixedAsset", new { id = fixedAsset.StockId })">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>